.cubes-wrapper {
  position: relative;
  width: 100%;
  max-width: 48rem;
  aspect-ratio: 1/1;
  --cube-face-border: 1px solid #fff;
  --cube-face-bg: #060010;
  --cube-face-shadow: none;
  --cube-size: 1fr;
  --grid-size: 10;
  --column-gap: 5%;
  --row-gap: 5%;
}

/* Dynamische grid grootte ondersteuning */
.cubes-wrapper[data-has-cube-size="true"] {
  width: var(--total-width);
  height: var(--total-height);
  max-width: none;
}

.cubes-scene {
  display: grid;
  width: 100%;
  height: 100%;
  perspective: 99999999px;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(var(--grid-size), var(--cube-size));
  grid-template-rows: repeat(var(--grid-size), var(--cube-size));
  column-gap: var(--column-gap);
  row-gap: var(--row-gap);
}

.cube {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  transform-style: preserve-3d;
}

.cube-face {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cube-face-bg);
  border: var(--cube-face-border);
  box-shadow: var(--cube-face-shadow);
}

.cube-face-top {
  transform: translateY(-50%) rotateX(90deg);
}

.cube-face-bottom {
  transform: translateY(50%) rotateX(-90deg);
}

.cube-face-left {
  transform: translateX(-50%) rotateY(-90deg);
}

.cube-face-right {
  transform: translateX(50%) rotateY(90deg);
}

.cube-face-front {
  transform: rotateY(-90deg) translateX(50%) rotateY(90deg);
}

.cube-face-back {
  transform: rotateY(90deg) translateX(-50%) rotateY(-90deg);
}

.cube-pointer-area {
  position: absolute;
  pointer-events: none;
  inset: -2.25rem;
}